<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us page</title>
  </head>
  <body>
    <h1>ini dibuat untuk menyelesaikan Binar-Challenge</h1>
    <button>
      <a href="/">Kembali ke halaman utama</a>
    </button>
  </body>
</html>
